#accueil
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 2px solid black;*/
    height: 95vh;
}
header p{
    font-size:6vh;
    font-weight: bold;
    text-align: center;
}
#main-content img
{
    width:25vh;
    height:25vh;
   /* border: 2px solid black;*/
}
#main-content div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    /*border: 2px solid black;*/
    margin-top: 2vw;
}
#main-content div p
{
    text-align: center;
    /*border: 2px solid black;*/
}
#main-content a
{
    width: 100%;
    height: 2em;
    margin-bottom: 10px;
}
#main-content  button
{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    background-color: #383434;
    font-size: 100%;
    color: white;
    font-weight: bold;
}
/*animation au touché*/
#main-content  button:hover
{
    transform: scale(1.1);
}

#name
{
    font-weight: bold;
}
@media(max-width: 600px){
    #accueil{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100vh;
        /*border: 2px solid black;*/
    }
    header
    {
        width:100%;
    }
    header p{
        /*border: 2px solid black;*/
        width: 100%;
        font-size:3vh;
    }
    #main-content div{
        font-size: 3vh;
    }
    
}
/* Stylisation du cv à partir d'ici*/
#cv-main
{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid black;
    font-size: 2vh;
    height:100vh;
}
/*left représente la partie gauche de mon cv*/
#left
{
    background-color: #F8F4F4;
    width: 30%;
    height: 100%;
    
}
#first-black
{
    background-color: #383434;
    color:white;
    text-align: center;
    border: 1px solid black;
    height: 40%;
    margin-top: 0%;
    border-bottom-left-radius: 45vh;
    border-bottom-right-radius: 45vh;
    /*border:2px solid rgb(190, 73, 73);*/
}
#first-black p:nth-child(1)
{
    font-weight: 900;
}
#first-black img{
    width:10em;
    height:10em;
    border: 4px solid white;
    border-radius: 50%;
}
/*css pour le div de contact*/
#contact
{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
    
}
#second-black
{
    background-color: #383434;
    color: white;
    margin-bottom: 0%;
    height: 36.5%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 8%;
    padding-top: 20%;
    border-top-left-radius: 40vh;
    border-top-right-radius: 40vh;
    border: 2px solid yellow;
}
/*css pour les sous titre*/
.sous-titre{
    /*border: 2px solid black;*/
    display: flex;
    text-align:left;
    font-size:1.5em;
    font-weight: bold;
}
/*css pour les icones des sections*/
.icon-class
{
    width:1.2em;
    margin-right: 1%;
}
.contactme
{
    display: flex;
    margin-bottom:0.5em;
}
.contactme:nth-child(1)
{
    font-size: 1em;
    font-weight: bold;
}
.icon-class-address
{
    width: 1.2em;
    height: 1.2em;
    margin-right: 1%;
}
#right
{
    /*border: 2px solid red;*/
    margin-left: 2%;
    height: 100vh;
    width: 70%;
}
#langue-passion
{
    display: flex;
    justify-content:flex-start;
    gap:2em;
}
/*css pour mettre le texte en majuscule*/
#langue ul li
{
    text-transform: uppercase;
}
#competence>div
{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 0.5em;
    /*border: 2px solid red;*/
    gap: 2em;
}
/*La bar de compétence*/
.progressbar
{
    width: 5em;
    height: 0.3em;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em;
    display: inline-block;
}
.progressbar div{
    width:60%;
    height: 40%;
    border:2px solid black;
    border-radius: 1em;
    background-color: black;
    margin:0;
}
/*stylisation appliqué aux sections*/
section{
    margin-bottom: 0.5em;
}
/*animation des différentes sections*/
section:hover
{
    border:2px solid black;
    border-radius: 0.5em;
}
/*css pour les buttons*/
#button-div
{
    display: flex;
    gap:2em;
    border: 2px solid red;
    margin-top: 1em;
    padding: 1em;
}
#button-div button
{
    width: 15em;
    height: 2em;
    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
}
#button-div button:hover{
    animation: border-animation 1s ease-in-out 0.5s infinite;
}
@keyframes border-animation {
    0%{
        border-bottom:4px solid #73b8d8;
    }
    25%{
        border-left:2px solid rgb(213, 23, 23);
    }
    50%
    {
        border-top: 2px solid rgb(232, 26, 26);
    }
    100%{
        border-right: 2px solid rgb(228, 31, 31);
    }
}
@media(max-width:768px)
{
    #cv-main{
        font-size: 2.1vw;
    }
    #first-black {
        height: 25%; /* Réduire la hauteur */
    }
    #contact{
        height: 25;
    }
    #second-black {
        height: 64%; /* Réduire la hauteur */
    }

    #first-black img {
        width: 10em; /* Réduire la taille de l'image */
        height: 10em; /* Réduire la taille de l'image */
    }
    .sous-titre {
        font-size: 1.5em; /* Réduire la taille des sous-titres sur petits écrans */
    }

    .icon-class {
        width: 1em; /* Réduire la taille des icônes */}
}
