#accueil
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* border: 2px solid black;*/
}
header p{
    font-size:5vh;
    font-weight: bold;
    text-align: center;
}
#main-content img
{
    width:20vh;
    height:20vh;
   /* border: 2px solid black;*/
}
#main-content div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    /*border: 2px solid black;*/
    margin-top: 2vw;
}
#main-content div p
{
    text-align: center;
    /*border: 2px solid black;*/
}
#main-content  button
{
    border: 2px solid black;
    width: 100%;
    height: 2em;
    border-radius: 2vh;
    background-color: #383434;
    font-size: 100%;
}
/*animation au touché*/
#main-content  button:hover
{
    transform: scale(1.1);
}
#main-content button a
{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
#name
{
    font-weight: bold;
}
@media(max-width: 600px){
    #accueil{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100vh;
        /*border: 2px solid black;*/
    }
    header
    {
        width:100%;
    }
    header p{
        /*border: 2px solid black;*/
        width: 100%;
        font-size:3vh;
    }
    #main-content div{
        font-size: 3vh;
    }
    
}