#accueil
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 2px solid black;*/
    height: 95vh;
}
header p{
    font-size:6vh;
    font-weight: bold;
    text-align: center;
}
#main-content img
{
    width:25vh;
    height:25vh;
   /* border: 2px solid black;*/
}
#main-content div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    /*border: 2px solid black;*/
    margin-top: 2vw;
}
#main-content div p
{
    text-align: center;
    /*border: 2px solid black;*/
}
#main-content a
{
    width: 100%;
    height: 2em;
    margin-bottom: 10px;
}
#main-content  button
{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    background-color: #383434;
    font-size: 100%;
    color: white;
    font-weight: bold;
}
/*animation au touché*/
#main-content  button:hover
{
    transform: scale(1.1);
}

#name
{
    font-weight: bold;
}
@media(max-width: 600px){
    #accueil{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100vh;
        /*border: 2px solid black;*/
    }
    header
    {
        width:100%;
    }
    header p{
        /*border: 2px solid black;*/
        width: 100%;
        font-size:3vh;
    }
    #main-content div{
        font-size: 3vh;
    }
    
}
/* Stylisation du cv à partir d'ici*/
#cv-main
{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    font-size: 3vh;
}
/*left représente la partie gauche de mon cv*/
#left
{
    background-color: #F8F4F4;
    width: 50%;
    /*border:2px solid black;*/
}
#first-black
{
    background-color: #383434;
    color:white;
    text-align: center;
    border: 1px solid black;
    height: 50vh;
    margin-top: 0%;
    border-bottom-left-radius: 40vh;
    border-bottom-right-radius: 40vh;

}
#first-black p:nth-child(1)
{
    font-weight: 900;
}
#first-black img{
    width:9em;
    height:9em;
    border: 4px solid white;
    border-radius: 50%;
}
#contact
{
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
    
}
#second-black
{
    background-color: #383434;
    color: white;
    margin-bottom: 0%;
    height: 75vh;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10%;
    padding-top: 30%;
    border-top-left-radius: 40vh;
    border-top-right-radius: 40vh;
    /*border: 2px solid yellow;*/
}
.sous-titre{
    /*border: 2px solid black;*/
    display: flex;
    text-align:left;
    font-size:1em;
    font-weight: bold;
}
.icon-class
{
    width:1em;
    margin-right: 1%;
}
#contactme
{
    display: flex;
    font-size: 1em;
    font-weight: bold;
}
.icon-class-address
{
    width: 1em;
    height: 1em;
    margin-right: 1%;
}
#right
{
    border: 2px solid red;
    margin-left: 2%;
}
#langue-passion
{
    display: flex;
    justify-content: space-between;
}
#langue-passion div{
    border: 2px solid black;
}